openai_api_key=sk-your-deepseek-api-key
openai_base_url=https://api.deepseek.com
dashscope_api_key=sk-your-dashscope-api-key
xunfei_appid=your-xunfei-appid
xunfei_api_secret=your-xunfei-api-secret
xunfei_api_key=your-xunfei-api-key
